.header {

    border-bottom: 2px solid #999999;

    .profile {
        width:140px;
        position: absolute;
    }

    .contact {
        margin-top: 25px;
    }


}

.experience {

    margin-top: 40px;
    @media print {
        margin-top: 20px;
    }

    .experience-item {

        border-top: 1px solid #999999;
        padding-top: 10px;

        &:first-of-type {
            border-top: none;
        }

        .company-name {
            font-weight: bold;
        }

        .tech-environment {
            &:before {
                content: "Technical Environment:";
                font-weight: bold;
            }
        }

        .job-description {
            &:before {
                content: "Job Description:";
                font-weight: bold;
            }
        }

    }

}

.education {

    .education-item {

        .program-name {
            font-weight: bold;
        }

    }

}

.recognition {

    margin-top: 40px;
    @media print {
        margin-top: 20px;
    }

    .recognition-item {

        border-top: 1px solid #999999;
        padding-top: 10px;

        &:first-of-type {
            border-top: none;
        }

        .title {
            font-weight: bold;
        }

    }

}