.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.where-to-find-me {
  a {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: #CCC;
    }

  }
}
